body {
    padding: 0;
    margin: 0;
    background: #a7e0ee;
    font-family: 'Coda', cursive;
}

header{
    height: 100px;
    width:100%;
    background: #38b6d6;
}

header ul{
    display: inline;
    height:50px;
}

header ul li{
    display: inline-block;
}

header h1{
    margin-right: 450px;
}

header h2{
    margin-right: 30px;
}

header a{
    text-decoration: none;
    color: #000000;
}

.oque {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #72D0E7;
}

.oque p{
    font-size:19px;
}

.oque div {
    width: 45%;
    text-align:justify;
}

.pensar{
    width:35%;
    margin-top:60px;
    margin-left:5%;
}

.habilidades {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #90DCEE;
}

.habilidades p {
    text-align: justify;
    width: 80%;
}

.habilidades a{
    font-weight:500;
}

.habilidades img{
    margin-top:20px;
    width:30%;
}

.comecar{
    margin-left:2.5%;
}

.comecar p {
    text-align: justify;
    width: 90%;
    margin-bottom:40px;
}

footer{
    background: #c9e7ee;
    display:flex;
    justify-content:center;
}

footer p{
    text-align:center;
}